<!-- build:style -->
<link rel="stylesheet" href="assets/css/style.css">
<!-- /build:style -->



<!-- build:list-short-link -->
<div>
    <ul>
        <li>
            <a
                href="https://dantri.com.vn/the-gioi/chuyen-chua-ke-ve-lan-ong-joe-biden-lay-kieu-tang-tong-bi-thu-20201111205346745.htm">
                Mohamed Salah sớm chia tay World Cup 2018
            </a>
        </li>
        <li>
            <a
                href="https://dantri.com.vn/the-gioi/chuyen-chua-ke-ve-lan-ong-joe-biden-lay-kieu-tang-tong-bi-thu-20201111205346745.htm">
                Những điều bất thường quanh khỏa chi 1.200 tỷ đồng cho 53.000 cán bộ xuất ngoại
            </a>
        </li>
        <li>
            <a
                href="https://dantri.com.vn/the-gioi/chuyen-chua-ke-ve-lan-ong-joe-biden-lay-kieu-tang-tong-bi-thu-20201111205346745.htm">
                Thái Lan phủ định thông tin cùng Việt Nam và Indonesia đăng cai World Cup 2034
            </a>
        </li>
        <li>
            <a
                href="https://dantri.com.vn/the-gioi/chuyen-chua-ke-ve-lan-ong-joe-biden-lay-kieu-tang-tong-bi-thu-20201111205346745.htm">
                Câu nói đùa của Ngoại trưởng Mỹ khiến ông Kim Jong-un bật cười
            </a>
        </li>
        <li>
            <a
                href="https://dantri.com.vn/the-gioi/chuyen-chua-ke-ve-lan-ong-joe-biden-lay-kieu-tang-tong-bi-thu-20201111205346745.htm">
                Xây siêu thành phố thông minh tỷ USD, đất Đông Anh lại có dịp "nổi sóng"?
            </a>
        </li>
    </ul>
</div>
<!-- /build:list-short-link -->
 <!-- build:style2 -->
    <link rel="stylesheet" href="assets/css/style2.css">
 <!-- /build:style2 -->
 <!-- build:new-hot-3 -->
    <div class="news-hot">
        <div class="left">
            <img src="assets/image/img2.PNG" alt="img" class="img" id="img" >
        </div>
        <div class="contain">
            <div class="top">
                <h3 class="title">
                    <a href="https://www.w3schools.com">Georgina đẹp hút mắt trên khán đài, tiếp lửa cho Cristiano
                        Ronaldo</a>
                </h3>
                <div class="meta">
                    <a href="#" class="category">Sport</a>
                    <span class="time">- 13 giờ trước</span>
                </div>
                <span class="description">
                    Người đẹp 22 tuổi bay sang Nga để cổ vũ Ronaldo trong cuộc chạm trán với
                    Moroco, trận đấu mà siêu sao người Bồ Đào Nha tỏa sáng với bàn thắng duy nhất giúp
                    Bồ Đào Nha giành trọn 3 điểm trọn vẹn.
                </span>
            </div>
            <hr>
            <span class="add">Đọc thêm</span>
            <div class="item-link"> 
                <ul>
                    <li>
                        <a href="#">"Ronaldo đang ở một đẳng cấp khác, trên tầm Messi rồi"</a>
                        <span>5 giờ trước</span>
                    </li>
                    <li>
                        <a href="#">Cầu thủ Moroco tố trọng tài lén lút xin áo đấu của Ronaldo</a>
                        <span>4 giờ trước</span>
                    </li>
                    <li>
                        <a href="#">"Messi đau khổ và khóc nhiều vì giấc mơ vô dịch World Cup"</a>
                        <span>5 giờ trước</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
 <!-- /build:new-hot-3 -->
<!-- build:style3 -->
<link rel="stylesheet" href="assets/css/style3.css">
<!-- /build:style3 -->
<!-- build:news-list-2 -->
<div>
    <ul>
        <li><a href="#">Quán bún riêu 30 năm tuổi ở vỉa hè Sài Gòn có gì hấp dẫn mà Trường Giang trở thành "khách quen"
                lâu năm?</a>
            <i class="far fa-clone"></i>
        </li>
        <li><a href="#">Sữa tươi Mười vào sáng tinh mơ và câu chuyện 20 năm gây thương nhớ của những cô chủ quán dễ
                thương nhất Sài Gòn</a>
            <i class="far fa-clone"></i>
        </li>
        <li><a href="#">Quán cafe ở Sài Gòn mà Thủ tướng Canada ghé uống: "Ông và người ngồi cùng bàn đều uống cafe sữa
                pha phin và khen ngon"</a>
            <i class="far fa-clone"></i>
        </li>
    </ul>
</div>
<!-- /build:news-list-2 -->
<!-- build:style5 -->
<link rel="stylesheet" href="assets/css/style5.css">
<!-- /build:style5 -->

<!-- build:news-short-1 -->
<div class="news">
    <div class="header">
        <span>STAR</span>
    </div>
    <img src="assets/image/img4.PNG" alt="anh">
    <div class="title">
        <a href="#">
            Phạm Băng Băng đáp trả như thế nào trước loạt tin đồn thua bạc, trốn thuế và bỏ quốc tích Trung Quốc?
        </a>
    </div>
    <div class="detail">
        Phía Phạm Băng Băng quyết tâm đưa tất cả những tin đồn ác ý giao cho pháp luật xử lý nghiêm minh.
    </div>
    <hr>
    <div class="li1">
        <a href="#">Lộ clip Trương Vệ Kiệt bị cảnh sát bắt vì sử dụng ma túy tại Bắc Kinh?</a>
    </div>
    <hr>
    <div class="li2">
        <a href="#">Mặc bán tán của dư luận về chiếc cằm biến dạng, Minh Hằng vẫn tự tin thực hiện trào ...</a>
    </div>
</div>

<!-- /build:news-short-1 -->
<!-- build:style4 -->
<link rel="stylesheet" href="assets/css/style4.css">
<!-- /build:style4 -->
<!-- build:news_one_mobile -->
<div class="news">
    <div class="title">
        <h2>Thi THPT Quốc gia 2018: Thí sinh không được mang đề thi, giấy nháp của bài thi Khoa học ra khỏi phòng thi
        </h2>
    </div>
    <div class="contain">
        <div class="left">
            <img src="assets/image/img3.png" alt="anh">
        </div>
        <div class="right">
            <div class="content">
                <a href="#">Kì thi THPT Quốc gia năm nay có nhiều điểm mới hơn so với các năm trước</a>
            </div>
            <div class="meta">
                <a class="category" href="#">HỌC ĐƯỜNG</a>
                <span class="time">
                    <a href="#"> - 16 giờ trước</a>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- /build:news_one_mobile -->
<!-- build:stylestep1 -->
<link rel="stylesheet" href="assets/css/step1.css">
<!-- /build:stylestep1 -->
<!-- build:step1 -->
<div class="news">
    <div class="left">
        <img src="assets/image/img-step1.PNG" alt="anh">
    </div>
    <div class="content">
        <div class="title">
            <a href="#">
                Những gương mặt thử khoa đại học đạt tuyệt đối 30 điểm: Khi bạn giỏi thực sự, điểm thi chỉ là một con
                số!
            </a>
        </div>
        <div class="meta">
            <a href="#">Học đường</a>
            <span>
                - 3 giờ trước
            </span>
        </div>
        <div class="detail">
            Hầu hết thủ khoa đạt 30 điểm trong kỳ thi THPT Quốc gia đều tự chấm được 30 điểm cho mình ngay sau khi ...
        </div>
    </div>
</div>
<!-- /build:step1 -->
<!-- build:stylestep3 -->
<link rel="stylesheet" href="assets/css/step3.css">
<!-- /build:stylestep3 -->

<!-- build:step3 -->
<div class="news">
    <img src="assets/image/image_step3.PNG" alt="img3">
    <div class="title">
        <a href="#">
            Xuất thân trâm anh thế phiệt của các ngôi sao Hollywood: Sinh ra đã ngậm thìa vàng ...
        </a>
    </div>
</div>
<!-- /build:step3 -->
<!-- build:stylestep5 -->
<link rel="stylesheet" href="assets/css/step5.css">
<!-- /build:stylestep5 -->

<!-- build:step5 -->
<div class="news">
    <div class="image">
        <img src="assets/image/img-step5.PNG" alt="">
    </div>
    <div class="title">
        <a href="#">
            Quán cháo "hào sảng" giá 5.000 đồng/ tô của
            cô Tư Sài Gòn: Nhà Tư không nợ nần gì, bán vậy là
            thoải mái rồi!
        </a>
    </div>
    <div class="detail">
        <span>
            Không ngẫu nhiên mà hơn 40 năm qua quán cháo vỉa hè
            của gia đình cô Tư luôn tập nập khách từ sáng sớm,
            dù chẳng biển hiệu. Với mức giá 5.000 đồng không thay đổi
            mấy mươi năm qua, nơi đây trở thành một điểm quen thuộc ...

        </span>
    </div>
</div>

<!-- /build:step5 -->
<!-- build:stylestep6 -->
<link rel="stylesheet" href="assets/css/step6.css">
<!-- /build:stylestep6 -->


<!-- build:step6 -->
<div class="list_hour">
    <section class="left">
        <a href="#">
            <p>12:30</p>
        </a>
    </section>
    <aside class="right">
        <a href="#">
            <p>Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân</p>
        </a>
    </aside>
</div>
<!-- /build:step6 -->
<!-- build:stylestep7 -->
<link rel="stylesheet" href="assets/css/step7.css">
<!-- /build:stylestep7 -->


<!-- build:step7 -->
<div class="list">
    <ul>
        <li class="top clearfix">
            <div class="top-one ">
                <img src="assets/image/img1-step7.PNG" alt="anh1">
                <div class="one">
                    <a href="#">Mẹ mua giống cà chua "siêu thái" trồng để
                        con đi thi, ai ngờ thá...
                    </a>
                </div>
            </div>
        </li>
        <li class="bottom clearfix">
            <div class="bottom-two">
                <img src="assets/image/img2-step7.PNG" alt="anh2">
                <div class="two">
                    <a href="#">Muốn biết cầu thủ Anh tập luyện thế nào cho World Cup,
                        Insta stori...
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- /build:step7 -->