@import "./include/_body";
$myFont: Arial, Helvetica, sans-serif;
$mycolor : rgb(51,51,51);

body {
    @include body(415px, auto);
    margin: 20px 20px 20px 20px;
   
    background-color: rgb(245, 245, 245);
    font-family: $myFont;
}
.news{
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    .title{
        font-weight: bold;
        a{
            color: $mycolor;
            font-size: 25px;
            text-decoration: none;
        }
    }
}