@import "./include/_body";
$myFont: Arial, Helvetica, sans-serif;
body {
    @include body(234px, 58px);
}
.left {
    border-right: 1px dotted #c7c6c6;
    float: left;
    width: 34px;
    p {
        color: orangered;
    }
}
.right {
    p {
        margin-top: 1px;
        color: black;
    }
    float: right;
    width: 185px;
    font-weight: 700;
    line-height: 16.5px;
    padding-right: 4px;
}

.list_hour {
    height: 45px;
    border-bottom: 1px dotted #c7c6c6;
    font-family: $myFont;
    font-size: 11px;
}
a {
    text-decoration: none;
    display: block;
}
