@import "include/_body";
$myFont: Arial, Helvetica, sans-serif;
$mycolor: rgb(85, 85, 85);
$color_back: rgb(51, 51, 51);

body {
    @include body(800px, auto);
    font-family: $myFont;
    margin: 10px 0px 10px 10px;
    line-height: 1.6;
}
.news {
    .left {
        float: left;
    }
    .content {
        margin-left: 44%;
        .title {
            a {
                font-size: 20px;
                color: $color_back;
                font-weight: bold;
            }
        }
        .meta {
            margin-top: 10px;
            a{
                color: rgb(65, 69, 93);
                
            }
            span {
               color: $mycolor;
                font-size: 16px;
            }
        }
        .detail{
            margin-top: 10px;
            color: $mycolor;
            font-size: 14px;
        }

    }
}
a {
    text-decoration: none;
    font-weight: bold;
}
