@import "./include/_body";
$color_black: rgb(51, 51, 51);
$myFont: Arial, Helvetica, sans-serif;
$myFontSz: 23px;
$magin: 10px 0px 10px 10px;
$gray: rgb(85, 85, 85);
body {
    @include body(580px, auto);
    font-family: $myFont;
}
.list {
    ul {
        list-style: none;
        line-height: 1.5;
        font-weight: bold;
        font-size: $myFontSz;
        font-family: $myFont;
        .top {
            .top-one {
                img {
                    float: left;
                }
                .one {
                    margin-left: 120px;
                    a {
                        color: black;
                        font-size: $myFont;
                    }
                }
            }
        }
        .bottom {
            margin-top: 25px;
            .bottom-two {
                img {
                    float: left;
                }
                .two {
                    margin-left: 120px;
                    a {
                        color: black;
                        font-size: $myFont;
                    }
                }
            }
        }
    }
}
a {
    text-decoration: none;
}
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
