@import "./include/_body";
$color_black: rgb(34, 34, 34);
$myFont: Arial, Helvetica, sans-serif;
$myFontSz: 23px;
$magin: 10px 0px 10px 10px;
$gray: rgb(85, 85, 85);
body {
    @include body(500px, auto);
    font-family: $myFont;
    margin: 10px 10px 20px 10px;
}
.news{
    line-height: 1.3;
    .image{
        width: auto;
    }
    .title{
        margin-top: 10px;
        a{
            text-decoration: none;
            color: $color_black;
            font-size: 26px;
            font-weight: bold;
        }
    }
    .detail{
        margin-top: 10px;
        span{
            color:$gray;
            font-size: 15px;  
        }
    }
}
