@import "./include/_body";
$color_black: rgb(51, 51, 51);
$myFont: Arial, Helvetica, sans-serif;
$myFontSz: 17px;
$magin: 10px 0px 10px 10px;
$gray: rgb(85, 85, 85);
body {
    @include body(370px, 876px);
    font-family: $myFont;
}
.news {
    margin: $magin;
    .header {
        span {
            border-left: 4px solid;
            border-left-color: rgb(252, 97, 41);
            font-weight: 800;
            padding-left: 7px;
        }
        margin-bottom: 10px;
    }
    img {
        width: 98%;
        height: auto;
    }
    .title {
        a {
            margin-top: 10px;
            font-family: $myFont;
            font-size: 19px;
            font-weight: bold;
            color: $color_black;
            margin-bottom: 15px;
        }
    }
    .detail {
        color: $gray;
        font-size: 13px;
        margin: 15px 0px 15px 0px;
    }
    .li1 {
        a {
            color: $color_black;
            font-weight: bold;
            font-size: 15px;
        }
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .li2 {
        a {
            color: $color_black;
            font-weight: bold;
            font-size: 15px;
        }
        margin-top: 10px;
    }
}
a {
    text-decoration: none;
}
