$myFont: Arial, Helvetica, sans-serif;
$myColor: rgb(213, 245, 247);
$myFontSize: 18px;
$myWidth: 420px;

body {
    margin-top: 20px;
    margin-left: 25%;
    width: $myWidth;
    background-color: $myColor;
    font-family: $myFont;
    font-size: $myFontSize;
    line-height: 25px;
}
    div {
        background-color: white;
        ul {
            li {
                margin-top: 6px;
                display: list-item;
                color: red;
                list-style: url(/image/img1.PNG);
                a {
                    text-decoration: none;
                    font-weight: bold;
                    color: rgb(47, 25, 107);
                }
            }
        }
    }

