$myFont: Arial, Helvetica, sans-serif;
$color_gray: rgb(150, 150, 150);
$mycolor: rgb(65, 69, 93);
$myFontSz: 11.5px;
body {
    width: 620px;
    height: 300px;
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: $myFont;
}
.left {
    img {
        width: 208px;
        height: 305px;
        margin-right: 15px;
        max-width: 100%;
        max-height: auto;
    }
    float: left;
}
.contain {
    .top {
        .title {
            a {
                color: black;
            }
        }
        .meta {
            margin-bottom: 13px;
            .category {
                color: $mycolor;
                font-size: $myFontSz;
                font-weight: bold;
            }
        }
    }
    .item-link {
        margin-top: 10px;
        ul {
            list-style: none;
            margin-top: 6px;
            li {
                margin-left: 34%;
                line-height: 20px;

                a {
                    font-size: $myFontSz;
                    color: $mycolor;
                    font-weight: bold;
                }
            }
        }
    }
}
ul li::before {
    content: "•";
    color: red;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
a {
    text-decoration: none;
}
span {
    color: $color_gray;
    font-size: $myFontSz;
}
hr {
    border: none;
    border-top: 1px dashed gray;
    color: #fff;
    background-color: #fff;
}
