@import "./include/_body";
$myFont: Arial, Helvetica, sans-serif;
$myFontSz: 20px;
$mycolor: rgb(65, 69, 93);


body {
    @include body(72%, 400px);
    font-family: $myFont;
    font-size: $myFontSz;
    background-color:rgb(193, 247, 244);
}

div {
    background-color: white;
    
    ul {
        list-style: none;
        li {
            margin-bottom: 12px;    
            a{
                color: $mycolor;
                font-weight: bold;
                line-height: 35px;
                text-decoration: none;
            }
            i{
                color: rgb(213,213,213);
            }
            i:hover{
                color: rgb(109, 94, 94);
            }
        }
    }
}
ul li::before {
    content: "•";
    color: red;
    display: inline-block;
    font-size: 40px;
    width: 1em;
    margin-left: -1em;
}
