@import "./include/_body";
$myFont: Arial, Helvetica, sans-serif;
$myFontSz: 17px;
$mycolor: rgb(85, 85, 85);
$color_back : rgb(51,51,51);

body{
    @include body(460px, 316px);
    font-family: $myFont;
    font-size: $myFontSz;
    
}
.news{
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
    .title{
        h2{
            font-family: $myFont;
            line-height: 1.5;
            color: $color_back;
        }
    }
    .contain{
        .left{
            float: left;
        }
        .right{
            
            margin-left: 52%;
            .content{
                a{
                   font-family: $myFont;
                   font-size: 16px;
                   color: $mycolor;
                   text-decoration: none;
                   font-weight:bold;
                }
            }
            .meta{
                margin-top: 15px;
                .category{
                    color: rgb(250, 114, 63);
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 13px;
                }
                .time{
                    a{
                        color: rgb(179, 179, 179);
                        text-decoration: none;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}