<!-- build:style -->
<link rel="stylesheet" href="assets/css/style.css">
<!-- /build:style -->



<!-- build:list-short-link -->
<div>
    <ul>
        <li>
            <a
                href="https://dantri.com.vn/the-gioi/chuyen-chua-ke-ve-lan-ong-joe-biden-lay-kieu-tang-tong-bi-thu-20201111205346745.htm">
                Mohamed Salah sớm chia tay World Cup 2018
            </a>
        </li>
        <li>
            <a
                href="https://dantri.com.vn/the-gioi/chuyen-chua-ke-ve-lan-ong-joe-biden-lay-kieu-tang-tong-bi-thu-20201111205346745.htm">
                Những điều bất thường quanh khỏa chi 1.200 tỷ đồng cho 53.000 cán bộ xuất ngoại
            </a>
        </li>
        <li>
            <a
                href="https://dantri.com.vn/the-gioi/chuyen-chua-ke-ve-lan-ong-joe-biden-lay-kieu-tang-tong-bi-thu-20201111205346745.htm">
                Thái Lan phủ định thông tin cùng Việt Nam và Indonesia đăng cai World Cup 2034
            </a>
        </li>
        <li>
            <a
                href="https://dantri.com.vn/the-gioi/chuyen-chua-ke-ve-lan-ong-joe-biden-lay-kieu-tang-tong-bi-thu-20201111205346745.htm">
                Câu nói đùa của Ngoại trưởng Mỹ khiến ông Kim Jong-un bật cười
            </a>
        </li>
        <li>
            <a
                href="https://dantri.com.vn/the-gioi/chuyen-chua-ke-ve-lan-ong-joe-biden-lay-kieu-tang-tong-bi-thu-20201111205346745.htm">
                Xây siêu thành phố thông minh tỷ USD, đất Đông Anh lại có dịp "nổi sóng"?
            </a>
        </li>
    </ul>
</div>
<!-- /build:list-short-link -->