 <!-- build:style2 -->
    <link rel="stylesheet" href="assets/css/style2.css">
 <!-- /build:style2 -->
 <!-- build:new-hot-3 -->
    <div class="news-hot">
        <div class="left">
            <img src="assets/image/img2.PNG" alt="img" class="img" id="img" >
        </div>
        <div class="contain">
            <div class="top">
                <h3 class="title">
                    <a href="https://www.w3schools.com">Georgina đẹp hút mắt trên khán đài, tiếp lửa cho Cristiano
                        Ronaldo</a>
                </h3>
                <div class="meta">
                    <a href="#" class="category">Sport</a>
                    <span class="time">- 13 giờ trước</span>
                </div>
                <span class="description">
                    Người đẹp 22 tuổi bay sang Nga để cổ vũ Ronaldo trong cuộc chạm trán với
                    Moroco, trận đấu mà siêu sao người Bồ Đào Nha tỏa sáng với bàn thắng duy nhất giúp
                    Bồ Đào Nha giành trọn 3 điểm trọn vẹn.
                </span>
            </div>
            <hr>
            <span class="add">Đọc thêm</span>
            <div class="item-link"> 
                <ul>
                    <li>
                        <a href="#">"Ronaldo đang ở một đẳng cấp khác, trên tầm Messi rồi"</a>
                        <span>5 giờ trước</span>
                    </li>
                    <li>
                        <a href="#">Cầu thủ Moroco tố trọng tài lén lút xin áo đấu của Ronaldo</a>
                        <span>4 giờ trước</span>
                    </li>
                    <li>
                        <a href="#">"Messi đau khổ và khóc nhiều vì giấc mơ vô dịch World Cup"</a>
                        <span>5 giờ trước</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
 <!-- /build:new-hot-3 -->