<!-- build:style5 -->
<link rel="stylesheet" href="assets/css/style5.css">
<!-- /build:style5 -->

<!-- build:news-short-1 -->
<div class="news">
    <div class="header">
        <span>STAR</span>
    </div>
    <img src="assets/image/img4.PNG" alt="anh">
    <div class="title">
        <a href="#">
            Phạm Băng Băng đáp trả như thế nào trước loạt tin đồn thua bạc, trốn thuế và bỏ quốc tích Trung Quốc?
        </a>
    </div>
    <div class="detail">
        Phía Phạm Băng Băng quyết tâm đưa tất cả những tin đồn ác ý giao cho pháp luật xử lý nghiêm minh.
    </div>
    <hr>
    <div class="li1">
        <a href="#">Lộ clip Trương Vệ Kiệt bị cảnh sát bắt vì sử dụng ma túy tại Bắc Kinh?</a>
    </div>
    <hr>
    <div class="li2">
        <a href="#">Mặc bán tán của dư luận về chiếc cằm biến dạng, Minh Hằng vẫn tự tin thực hiện trào ...</a>
    </div>
</div>

<!-- /build:news-short-1 -->