<!-- build:style4 -->
<link rel="stylesheet" href="assets/css/style4.css">
<!-- /build:style4 -->
<!-- build:news_one_mobile -->
<div class="news">
    <div class="title">
        <h2>Thi THPT Quốc gia 2018: Thí sinh không được mang đề thi, giấy nháp của bài thi Khoa học ra khỏi phòng thi
        </h2>
    </div>
    <div class="contain">
        <div class="left">
            <img src="assets/image/img3.png" alt="anh">
        </div>
        <div class="right">
            <div class="content">
                <a href="#">Kì thi THPT Quốc gia năm nay có nhiều điểm mới hơn so với các năm trước</a>
            </div>
            <div class="meta">
                <a class="category" href="#">HỌC ĐƯỜNG</a>
                <span class="time">
                    <a href="#"> - 16 giờ trước</a>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- /build:news_one_mobile -->