<!-- build:style3 -->
<link rel="stylesheet" href="assets/css/style3.css">
<!-- /build:style3 -->
<!-- build:news-list-2 -->
<div>
    <ul>
        <li><a href="#">Quán bún riêu 30 năm tuổi ở vỉa hè Sài Gòn có gì hấp dẫn mà Trường Giang trở thành "khách quen"
                lâu năm?</a>
            <i class="far fa-clone"></i>
        </li>
        <li><a href="#">Sữa tươi Mười vào sáng tinh mơ và câu chuyện 20 năm gây thương nhớ của những cô chủ quán dễ
                thương nhất Sài Gòn</a>
            <i class="far fa-clone"></i>
        </li>
        <li><a href="#">Quán cafe ở Sài Gòn mà Thủ tướng Canada ghé uống: "Ông và người ngồi cùng bàn đều uống cafe sữa
                pha phin và khen ngon"</a>
            <i class="far fa-clone"></i>
        </li>
    </ul>
</div>
<!-- /build:news-list-2 -->