<!-- build:stylestep7 -->
<link rel="stylesheet" href="assets/css/step7.css">
<!-- /build:stylestep7 -->


<!-- build:step7 -->
<div class="list">
    <ul>
        <li class="top clearfix">
            <div class="top-one ">
                <img src="assets/image/img1-step7.PNG" alt="anh1">
                <div class="one">
                    <a href="#">Mẹ mua giống cà chua "siêu thái" trồng để
                        con đi thi, ai ngờ thá...
                    </a>
                </div>
            </div>
        </li>
        <li class="bottom clearfix">
            <div class="bottom-two">
                <img src="assets/image/img2-step7.PNG" alt="anh2">
                <div class="two">
                    <a href="#">Muốn biết cầu thủ Anh tập luyện thế nào cho World Cup,
                        Insta stori...
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- /build:step7 -->