<!-- build:stylestep1 -->
<link rel="stylesheet" href="assets/css/step1.css">
<!-- /build:stylestep1 -->
<!-- build:step1 -->
<div class="news">
    <div class="left">
        <img src="assets/image/img-step1.PNG" alt="anh">
    </div>
    <div class="content">
        <div class="title">
            <a href="#">
                Những gương mặt thử khoa đại học đạt tuyệt đối 30 điểm: Khi bạn giỏi thực sự, điểm thi chỉ là một con
                số!
            </a>
        </div>
        <div class="meta">
            <a href="#">Học đường</a>
            <span>
                - 3 giờ trước
            </span>
        </div>
        <div class="detail">
            Hầu hết thủ khoa đạt 30 điểm trong kỳ thi THPT Quốc gia đều tự chấm được 30 điểm cho mình ngay sau khi ...
        </div>
    </div>
</div>
<!-- /build:step1 -->