<!-- build:stylestep5 -->
<link rel="stylesheet" href="assets/css/step5.css">
<!-- /build:stylestep5 -->

<!-- build:step5 -->
<div class="news">
    <div class="image">
        <img src="assets/image/img-step5.PNG" alt="">
    </div>
    <div class="title">
        <a href="#">
            Quán cháo "hào sảng" giá 5.000 đồng/ tô của
            cô Tư Sài Gòn: Nhà Tư không nợ nần gì, bán vậy là
            thoải mái rồi!
        </a>
    </div>
    <div class="detail">
        <span>
            Không ngẫu nhiên mà hơn 40 năm qua quán cháo vỉa hè
            của gia đình cô Tư luôn tập nập khách từ sáng sớm,
            dù chẳng biển hiệu. Với mức giá 5.000 đồng không thay đổi
            mấy mươi năm qua, nơi đây trở thành một điểm quen thuộc ...

        </span>
    </div>
</div>

<!-- /build:step5 -->