<!-- build:stylestep3 -->
<link rel="stylesheet" href="assets/css/step3.css">
<!-- /build:stylestep3 -->

<!-- build:step3 -->
<div class="news">
    <img src="assets/image/image_step3.PNG" alt="img3">
    <div class="title">
        <a href="#">
            Xuất thân trâm anh thế phiệt của các ngôi sao Hollywood: Sinh ra đã ngậm thìa vàng ...
        </a>
    </div>
</div>
<!-- /build:step3 -->