<!-- build:stylestep6 -->
<link rel="stylesheet" href="assets/css/step6.css">
<!-- /build:stylestep6 -->


<!-- build:step6 -->
<div class="list_hour">
    <section class="left">
        <a href="#">
            <p>12:30</p>
        </a>
    </section>
    <aside class="right">
        <a href="#">
            <p>Cách chức Trưởng công an xã vào nhà nghỉ với vợ bạn thân</p>
        </a>
    </aside>
</div>
<!-- /build:step6 -->